@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

/* Landing page */
#landing {
    height: 100%;
    background: url('../images/landing.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.centered_landing {
    padding-top: 60px;
}

/* Also used for banner */
.name h1 {
    font-family: "Abril Fatface", sans-serif;
    font-size: 75px;
    color: white;
}

.name h2 {
    color: white;
}

#landing_triangle {
    height: 9em;
}

#landing_graphic {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about_box {
    top: 100%;
    display: grid;
    grid-gap: 0;
    overflow: hidden;
    color: black;
    background: #EEF0F2;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'div img';
}

#about_box div {
    text-align: left;
    padding-left: 15%;
    padding-top: 15%;
    font-size: x-large;
}

#about_box div h1 {
    font-size: x-large;
}

#about_box div p {
    font-size: large;
}

#about_box img {
    height: 400px;
    width: 100%;
}

/* Homepage */
#search {
    margin-bottom: 40px;
}

#search input {
    margin: 0;
    padding: 0 10px 0 10px;
    border: none;
    height: 50px;
}

#search form button {
    margin: -4px;
    padding: 10px;
    height: 50px;
}

#submit {
    margin-top: 30px;
    /*Wizardry to get the submit button to appear centered but on the next line*/
    display: block;
    border-radius: 4px;
    margin-left: 47.5%;
    width: 5%;
    height: 40px;
    font-family: "IBM Plex Sans", sans-serif;
}

#random_button {
    margin-top: 10px;
    padding: 10px;
    height: 50px;
    text-transform: uppercase;
    border-radius: 2px;
}

.account {
    display: block;
    width: 30%;
    border-radius: 2px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 35%;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

#suggested_issues {
    width: 50%;
    display: inline-grid;
    grid-template-areas: "article article";
    grid-column-gap: 50px;
}

#suggested_issues article {
    height: 200px;
}

#suggested_issues figcaption {
    font-weight: bold;
    margin-bottom: 10px;
}

.image_container {
    /* See https://www.w3schools.com/howto/howto_css_image_overlay.asp for reference. */
    position: relative;
}

#suggested_issues img {
    display: block;
    width: 280px;
    height: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: grey;
}

.image_container:hover .overlay {
    opacity: 0.9;
}

#suggested_issues p {
    color: white;
    padding-top: 30%; /* As per tutorial also works. */
    text-align: center;
}

#suggested_issues h4 {
    margin-top: 0;
    font-weight: bolder;
}

/* Search results */
#search_title h1 {
    overflow: hidden;
    text-align: center;
}

#search_title h1:before,
#search_title h1:after {
    border-top: 2px solid #000;
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

#search_title h1:before {
    right: 0.5em;
    margin-left: -50%;
}
#search_title h1:after {
    left: 0.5em;
    margin-right: -50%;
}

#sidebar_page {
    display: grid;
    grid-gap: 0;
    overflow: hidden;
    background-color: white;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'nav section';
    min-height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

#search_options {
    text-align: start;
    padding-left: 10%;
    width: 100%;
    /*Would have to change page layout or work with animations to have
    good-looking "sticky search".*/
}

#search_options h4 {
    top: 10px;
}

#search_options ul {
    list-style: none;
    padding-left: 0;
}


#search_results {
    display: grid;
    grid-template-areas: "article" "article";
    background-color: #E1F2E9;
    grid-gap: 0;
    padding-bottom: 500px;
    padding-right: 10px;
}

#search_box {
    background: white;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 2px;
    border-left: 10px;
    border-right: 10px;
}

#search_bar_small {
    width: 100%;
    white-space: nowrap;
    padding-left: 2px;
    margin-right: 0;
    margin-bottom: 5px;
    text-align: start;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: darkslategrey 100px;
    font-size: 0; /*Needed to remove the white-space that comes with inline-block*/
}

#search_bar_small form { height: 100%; }
#search_bar_small input {
    box-sizing: border-box;
    height: 100%;
    border-radius: 2px;
    border-width: 0;
    padding-left: 10px;
    width: 90%;
    display: inline-block;
    margin: 0;
    font-size: 13px;
}
#search_bar_small button {   /*TODO: Clean*/
    display: inline-block;
    margin: 0;
    border: none;
    border-radius: 2px;
    height: 100%;
    width: 10%;
    font-size: 13px;
}

#search_results article {
    text-align: start;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-height: 200px;
}

/*
.editor {
    background-color: #afbfb1; /*Editor & contributor have different colours*/
    /*TODO better colour implementation - doubles with "#results_list"
}

.contributor {
    background-color: #e6f7e8;
}
*/

#search_results article h4 {
    display: inline-block; /*All items intended to be inline must have this tag*/
}

.issue_category {
    display: inline-block;
}

#contributions_sidebar {
    display: grid;
    grid-gap: 0;
    overflow: hidden;
    background-color: white;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'nav section';
    min-height: 100%;
}

#contributions_options {
    text-align: start;
    padding-left: 10%;
    width: 100%;
    /*Would have to change page layout or work with animations to have
    good-looking "sticky search".*/
}

/*Contributions page*/
#contributions_grid {
    background-color: #3e5b4a;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 1fr;
    grid-template-areas: "article article" "article article";
    grid-gap: 10px;
    padding: 1%;
}

#contributions_grid article {
    background-color: #e6f7e8; /*3e5b4a for dark bg*/
    padding: 20px;
}

.comment_username {
    text-align: start;
    font-weight: bold;
}

.preview {
    background-color: #ace5b3;
    width: 80%;
    margin-left: 10%; /* container = 10% margin + 80% preview (+ 10% margin)*/
    padding: 10px;
    height: 10%;
}

.comment_description {
    text-align: start;
    padding: 20px;
    height: 50%;
    background-color: white;
    color: grey;
    border-radius: 10px;
}

#invisible {
    visibility: hidden;
}

.button {
    border: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
}

#submit {
    margin-top: 30px;
    /*Wizardry to get the submit button to appear centered but on the next line*/
    display: block;
    border-radius: 4px;
    margin-left: 47.5%;
    width: 5%;
    height: 40px;
    font-family: "IBM Plex Sans", sans-serif;
}

/* Centered text for images */
.centered {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* Used for controlling font size for banner*/
.font_400 {
    font-size: 400%;
}

#article_description {
    padding-left: 20%;
    padding-right: 20%;

}

#article_repository table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 20%;
    margin-left: 40%;
}

/* Opportunities page*/
#opportunity_results {
    display: inline-grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 2px;
}