@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

/* Landing page */
#landing {
    height: 100%;
    background: url('../images/landing.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.centered_landing {
    padding-top: 60px;
}

/* Also used for banner */
.name h1 {
    font-family: "Abril Fatface", sans-serif;
    font-size: 75px;
    color: white;
}

.name h2 {
    color: white;
}

#landing_triangle {
    height: 9em;
}

#landing_graphic {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about_box {
    top: 100%;
    display: grid;
    grid-gap: 0;
    overflow: hidden;
    color: black;
    background: #EEF0F2;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'div img';
}

#about_box div {
    text-align: left;
    padding-left: 15%;
    padding-top: 15%;
    font-size: x-large;
}

#about_box div h1 {
    font-size: x-large;
}

#about_box div p {
    font-size: large;
}

#about_box img {
    height: 400px;
    width: 100%;
}

/* Homepage */
#search {
    margin-bottom: 40px;
}

#search h2 {
    font-size: xx-large;
}

#search input {
    margin: 0;
    padding: 0 10px 0 20px;
    border: none;
    border-radius: 5px;
    height: 75px;
    width: 40%;
    font-size: medium;
    background-image: url(https://png.icons8.com/metro/1600/search.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
}

/*#search form button {
    margin: -4px;
    padding: 10px;
    height: 50px;
}

#submit {
    margin-top: 30px;
    !*Wizardry to get the submit button to appear centered but on the next line*!
    display: block;
    border-radius: 4px;
    margin-left: 47.5%;
    width: 5%;
    height: 40px;
    font-family: "IBM Plex Sans", sans-serif;
}*/

#random_button {
    background: #44CC7D;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    height: 75px;
    width: 10%;
    color: white;
    font-size: medium;
    text-transform: uppercase;
}

.account {
    display: block;
    width: 30%;
    border-radius: 2px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 35%;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

#suggested_issues {
    display: inline-grid;
    grid-template-areas: "article article";
    grid-column-gap: 75px;
    border-collapse: collapse;
    margin-bottom: 50px;
    align-items: center;
}

#suggested_issues article {
    border: groove;
    border-width: 3px;
    background: white;
    width: 500px;
    height: 600px;
}

#suggested_issues figcaption {
    font-weight: bold;
    margin-bottom: 10px;
}

.image_container {
    /* See https://www.w3schools.com/howto/howto_css_image_overlay.asp for reference. */
    position: relative;
}

#suggested_issues h3 {
    color: #639678;
}

#suggested_issues img {
    width: 400px;
    height: 275px;
    margin-bottom: 5px;
}

#suggested_issues h4 {
    text-transform: capitalize;
    font-size: large;
}

#suggested_issues p {
    text-align: center;
}

/* Search results */
#search_title h1 {
    overflow: hidden;
    text-align: center;
}

#search_title h1:before,
#search_title h1:after {
    border-top: 2px solid #000;
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

#search_title h1:before {
    right: 0.5em;
    margin-left: -50%;
}
#search_title h1:after {
    left: 0.5em;
    margin-right: -50%;
}

#sidebar_page {
    display: grid;
    grid-gap: 0;
    overflow: hidden;
    background-color: white;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'nav section';
    min-height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

#search_options {
    text-align: start;
    padding-left: 10%;
    width: 100%;
    /*Would have to change page layout or work with animations to have
    good-looking "sticky search".*/
}

#search_options h4 {
    top: 10px;
}

#search_options ul {
    list-style: none;
    padding-left: 0;
}


#search_results {
    display: grid;
    grid-template-areas: "article" "article";
    background-color: #E1F2E9;
    grid-gap: 0;
    padding-bottom: 500px;
    padding-right: 10px;
}

#search_box {
    background: white;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 2px;
    border-left: 10px;
    border-right: 10px;
}

#search_bar_small {
    width: 100%;
    white-space: nowrap;
    padding-left: 2px;
    margin-right: 0;
    margin-bottom: 5px;
    text-align: start;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: darkslategrey 100px;
    font-size: 0; /*Needed to remove the white-space that comes with inline-block*/
}

#search_bar_small form { height: 100%; }
#search_bar_small input {
    box-sizing: border-box;
    height: 100%;
    border-radius: 2px;
    border-width: 0;
    padding-left: 10px;
    width: 90%;
    display: inline-block;
    margin: 0;
    font-size: 13px;
}
#search_bar_small button {   /*TODO: Clean*/
    display: inline-block;
    margin: 0;
    border: none;
    border-radius: 2px;
    height: 100%;
    width: 10%;
    font-size: 13px;
}

#search_results article {
    text-align: start;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-height: 200px;
}

#search_results article h4 {
    display: inline-block; /*All items intended to be inline must have this tag*/
}

.issue_category {
    display: inline-block;
}

/*Contributions page*/
#contributions_sidebar {
    display: grid;
    grid-gap: 0;
    overflow: hidden;
    background-color: white;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'nav section';
    min-height: 100%;
}

#contributions_options {
    text-align: start;
    padding-left: 10%;
    width: 100%;
    /*Would have to change page layout or work with animations to have
    good-looking "sticky search".*/
}

#contributions_grid {
    background-color: #3e5b4a;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 1fr;
    grid-template-areas: "article article" "article article";
    grid-gap: 10px;
    padding: 1%;
}

#contributions_grid article {
    background-color: #e6f7e8; /*3e5b4a for dark bg*/
    padding: 20px;
}

.comment_username {
    text-align: start;
    font-weight: bold;
}

.preview {
    background-color: #ace5b3;
    width: 80%;
    margin-left: 10%; /* container = 10% margin + 80% preview (+ 10% margin)*/
    padding: 10px;
    height: 10%;
}

.comment_description {
    text-align: start;
    padding: 20px;
    height: 50%;
    background-color: white;
    color: grey;
    border-radius: 10px;
}

#invisible {
    visibility: hidden;
}

.button {
    border: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
}

#submit {
    margin-top: 30px;
    /*Wizardry to get the submit button to appear centered but on the next line*/
    display: block;
    border-radius: 4px;
    margin-left: 47.5%;
    width: 5%;
    height: 40px;
    font-family: "IBM Plex Sans", sans-serif;
}

/* Centered text for images */
.centered {
    position: absolute;
    top:50%;
    left:50%;
    width:100%;
    transform: translate(-50%,-50%);
}


/*Buttons for users to interact with editor articles*/

#likeButton{
    border: none;
    color: white;
    height: 30px;
    width: 30px;
    padding: 2px 8px;

}

.likeOn{
    background:url("../images/thumbsupTick.png");
    background-size: 30px auto;
}

.likeOff{
    background:url("../images/thumbsup.png")no-repeat top left;
    background-size: 30px auto;
}

#bookmarkButton{
    border: none;
    color: white;
    height: 30px;
    width: 30px;
    padding: 2px 8px;
}

.bookmarkOff{
    background:url("../images/bookmark.png")no-repeat top left;
    background-size: 30px auto;
}

.bookmarkOn{
     background:url("../images/bookmarkTick.png");
    background-size: 30px auto;
 }


#followButton{
    padding: 2px 16px;
    color:darkslategray;
    font-family: inherit;
    border-color: #EEEEEE;
    border: 2px;

}

.followTick {
    background-color : #08BF7E;
}

/* Opportunities page*/
#opportunity_search {
    display: grid;
    grid-template-areas: "input input";
    width: 40%;
    /* TODO Need to fix the margin so it's more automated */
    margin-left: 38%;
    margin-right: 30%;
}

#opportunity_bar {
    height: 30px;
    border: solid;
    border-radius: 3px;
    padding: 0 10px 0 20px;
    color: white;
    background: white;
    /* TODO Find appropriate size */
    font-size: medium;
    background-image: url(https://png.icons8.com/metro/1600/search.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
}

#opportunity_results {
    display: inline-grid;
    grid-template-areas: "article article article" "article article article";
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 33% 33% 33%; /* Even column width*/
}

#opportunity_results article {
    padding: 10px;
    border: groove;
    border-color: grey;
    border-width: 2px;
    background: white;
}

#event_information table {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}


/* Editor Template Styling  */

.grid-container-editor{
    display: grid;
    grid-template-columns: 1fr 1fr 0fr 1fr 1fr;
    grid-gap: 10px;
    padding-left: 10%;
    padding-right:10%;
}

.grid-container-editor > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 15px;
}

div.bubble{
    vertical-align: middle;
    padding:20px 47px;
    border-radius: 25px;
}

/* Darken and Greyscale the image so we can overlay white text */
.editor-image{
    filter:grayscale(80%);
    opacity: 2;
    width:100%;
    height:54em;

}

div.editor-banner{
    height: 30em;
    width:100%;
    overflow:hidden;
}

#interaction_buttons{
    position:absolute;
    bottom:-4%;
    right:-2%;
    transform:translate(-50%,-50%);
    padding:10px;
    background-color: lightgrey;
}

.grid-container-editor header.header{
    grid-column-start:1;
    grid-column-end: 6;
}

.grid-container-editor div.ratings{
    grid-column-start:2;
    grid-column-end: 5;
}
.grid-container-editor div.description{
    grid-column-start:1;
    grid-column-end: 6;
    background-color: #EEEEEE;
    padding: 20px;
}

div.title-articlerepos{
    grid-column-start:1;
    grid-column-end: 6;
    background-color: #00af78;
    padding: 20px;
    text-transform: uppercase;
}


.high_l{
    grid-column-start:2;
    grid-column-end: 5;
    background-color: #7fc6ad;
}

<!-- the pst -->
.pst{
    grid-column-start:5;
    grid-column-end: 6;
}
.reports{
    grid-column-start:1;
    grid-column-end: 3;
    background-color: #7fc6ad;
}
.opinions{
    grid-column-start:4;
    grid-column-end: 6;
    background-color: #7fc6ad;
}
.item8{
    grid-column-start:1;
    grid-column-end: 5;
}

.item9{
    grid-column-start:1;
    grid-column-end: 5;
}