
/* Imported fonts from Google */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');


header {
    font-size: xx-large;
}

h1 {
    font-family: "Abril Fatface", sans-serif;
    color: #000000;
    margin-bottom: 0;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #000000;
}

h3 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #000000;
    font-size: x-large;
}

h4 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #000000;
    font-weight: bold;
}

html {
    background: #EEEEEE;
    background-image: linear-gradient(left, #999999 0%, #ffffff 100%);
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    color: black;
    margin: 0;
}

body, html {
    height: 100%;
}

a {
    text-decoration: none;
    color: #639678;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: beige;
}

button {
    border: none;
}
button:hover {
    background-color: darkgrey;
    cursor: pointer;
}