
/* Imported fonts from Google */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:700');


header {
    font-size: 90%;
    margin-top:0;
    padding:5px;
}

h1 {
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #000000;
    margin-bottom: 0;
    margin-top:0;
    font-size:xx-large;

}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #000000;
    font-size: x-large;
}

h3 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #000000;
    font-size: large;
}

h4 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: medium;
}

html {
    background: #EEEEEE;
    background-image: linear-gradient(left, #999999 0%, #ffffff 100%);
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    color: black;
    margin: 0;
}

body, html {
    height: 100%;
}

/* Related to Sticky Footers  */
body{
    display:flex;
    flex-direction:column;
}

a {
    text-decoration: none;
    color: #639678;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: beige;
}

button {
    border: none;
}
button:hover {
    background-color: darkgrey;
    cursor: pointer;
}

form {
    margin-bottom: 20px;
}

/* Line Break */
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


/* High-use general styling*/

.text_shadow {
    text-shadow: 2px 2px grey;
}

/* Makes text white */
.white_text{
    color:#ffffff;
}
.gray_text{
    color: #D3D3D3;
}

.darkgray_text{
    color:#696969;
}

/* Used for controlling font size for banner*/
.font_400 {
    font-size: 400%;
}