<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link href="styles/style.css" type="text/css" rel="stylesheet">
    <link href="styles/pages.css" type="text/css" rel="stylesheet">
    <link href="styles/top.css" type = "text/css" rel="stylesheet">
</head>

<body>
<!--Site title-->
<% include ./partial/header.ejs%>
<% include ./partial/navbar.ejs%>

<h1> About Page </h1>
<p> NOTE: explanation of the aims of the page </p>

<!-- footer for the page -->
<footer>
    <% include ./partial/footer.ejs %>
</footer>


</body>
</html>