<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Issue Name - Contributions </title>
    <link href="styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <h1>Issue name</h1>
    <h2>Creator name</h2>
</header>

<!-- Advanced search options -->
<nav id = "search_options">
    <h4>Sort By:</h4>
    <ul>
        <li><a href="">Alphabetical</a></li>
        <li><a href="">Most recent</a></li>
        <li><a href="">Most popular</a></li>
    </ul>
</nav>

<!--Contributions list-->
<section>
    <!--Individual contribution-->
    <article>
        <!--User info - links to user profile-->
        <p><a href="">Username</a></p>
        <p>Why the article is good</p>
        <!--Article preview-->
        <p><a href="https://www.theage.com.au/national/mark-zuckerberg-and-how-to-get-away-without-really-saying-sorry-20180412-p4z98w.html">Preview</a></p>
    </article>
</section>

</body>
</html>