<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MultiView - Landing </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
</head>

<body>

<div class = "content"> <!-- Used to make footers sticky -->

<!--Site title-->
<% include ./partial/header.ejs%>
<% include ./partial/navbar.ejs%>


<header class = "centered_header">
    <h1 id = "pageHeading">Create Account</h1>
</header>

<section>
    <!--Note: Dummy form action -->
    <form action = "../home">
        <h3>Username</h3>
        <input type="text" class="account" placeholder="Enter username"/>
        <h3>Password</h3>
        <input type="text" class="account" placeholder="Enter password"/>
        <h3>Confirm Password</h3>
        <input type="text" class="account" placeholder="Re-enter password"/>
        <h3>Email</h3>
        <input type="text" class="account" placeholder="Enter your email address"/>
        <button type="submit" id="submit">Submit</button>
    </form>
</section>
</div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>

</body>
</html>