
<!-- How Editors Create Articles -->
<!-- VERYYYY preliminary atm -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Create an article </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
</head>

<body>

<div class = "content"> <!-- Used to make footers sticky -->

    <!--Site title-->
    <% include ./partial/header.ejs%>
    <% include ./partial/navbar.ejs%>

    <!-- Maybe make this a sidebar on the left -->
    <header>
        <h1> Create your article </h1>
    </header>
    <!-- Early Stages of a form for article creation BY EDITORS -->
    <section id = "application">
        <form action = "../home">
            <h3> Article Title </h3>
            <input type = "text" class = "editor_ap"/>
            <h3> Tags </h3>
            <input type = "text" class = "editor_ap" placeholder = "i.e. #america, #globalwarming"/>
            <h3> Summary of Issue </h3>
            <input type = "text" class = "editor_ap" placeholder = "Less than 300 words"/>
            <h3> High Level Sources </h3>
            <input type = "text" class = "editor_ap"/>
            <h3> Reports </h3>
            <input type = "text" class = "editor_ap"/>
            <h3> Opinion Pieces </h3>
            <input type = "text" class = "editor_ap"/>
            <button type = "submit" id = "submit"> Submit </button>
        </form>
    </section>

</div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>

</body>
</html>