<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MultiView - Landing </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
    <script src = "./javascript/formValidation.js"></script>
</head>

<body>

<div class = "content"> <!-- Used to make footers sticky -->

<!--Site title-->
<% include ./partial/navbar.ejs%>


<header class = "centered_header">
    <h1>Create Account</h1>
</header>

<section>
    <!-- TODO Proper redirect. Currently sends the entered info. -->
    <form action = "../create-account" method="post" onsubmit="return validateUser()">
        <h2>Username</h2>
        <input type="text" class="account" placeholder="Enter username" name="username"/>
        <h2>Password</h2>
        <input type="password" class="account" placeholder="Enter password" name="password"/>
        <h2>Confirm Password</h2>
        <input type="password" class="account" placeholder="Re-enter password"/> <!--TODO: Check == above. -->
        <h2>Email</h2>
        <input type="email" class="account" placeholder="Enter your email address" name="email"/>
        <p id="error"></p> <!--Used for validation error messages -->
        <button type="submit" class="submit">Submit</button>
    </form>
</section>
</div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>

</body>
</html>