<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Create an article </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
    <script src = "./javascript/formValidation.js"></script>
    <!-- Used to make Navigation Bar Sticky -->
    <script src = "./javascript/sticky_nav.js"></script>
</head>
<body>
<!-- Site Navigation Bar -->
<% include ./partial/navbar.ejs%>

<header>
    <h1> Create your article </h1>
</header>

<form action = "../new-issue/" method = "post" onsubmit="return validateArticle()">
    <input type="hidden" name="author" value = <%=user.username%>>
    <h3>Issue Title:</h3>
    <input type="text" name="name" class="account">
    <h3>Description:</h3>
    <textarea name="description" class="account"></textarea>
    <h3>Image URL:</h3>
    <input type="text" name="image" class="account">
    <h3> Sources:</h3>
    <div id = "container_source">
        <div class="source">
            <select name="source_type" class="account">
                <option value="hl">High level</option>
                <option value="r">Report</option>
                <option value="o">Opinion</option>
            </select>
            <input type="text" name="link" class="account" placeholder="Article link">
            <input type="text" name="article_description" class="account" placeholder="Your description of the article">
        </div>
    </div>
    <button type="button" class="plus_button" onclick="addSource('source')">+</button>
    <h3>Categories:</h3>
    <div id="container_c">
        <input type="text" name="c_source" class="account">
    </div>
    <button type="button" class="plus_button" onclick="addSource('c')">+</button>
    <p id="error"></p> <!--Error messages in form validation will show here. -->
    <button type="submit">Submit</button>
</form>

<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>