<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Create an article </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">

    <!-- Form Validation18-unexpectedv -->
    <script src = "./javascript/formValidation.js"></script>

    <!-- Used to make Navigation Bar Sticky -->
    <script src = "./javascript/sticky_nav.js"></script>
</head>
<body>
<!-- Site Navigation Bar -->
<% include ./partial/navbar.ejs%>

<header>
    <h1> Create your article </h1>
</header>

<!--TODO: Use post-->
<form action = "../new-issue/" method = "get" onsubmit="return validateArticle()">
    <input type="hidden" name="author" value = <%=user.username%>>
    <h3>Issue Title:</h3>
    <input type="text" name="name" class="account">
    <h3>Description:</h3>
    <textarea name="description" class="account"></textarea>
    <h3>Image URL:</h3>
    <input type="text" name="image" class="account">
    <h3>High-Level Sources:</h3>
    <div id="container_hl">
        <input type="text" name="hl_source" class="account">
    </div>
    <button type="button" class="plus_button" onclick="addSource('hl')">+</button>
    <h3>Reports:</h3>
    <div id="container_r">
        <input type="text" name="r_source" class="account">
    </div>
    <button type="button" class="plus_button" onclick="addSource('r')">+</button>
    <h3>Opinion Pieces:</h3>
    <div id="container_o">
        <input type="text" name="o_source" class="account">
    </div>
    <button type="button" class="plus_button" onclick="addSource('o')">+</button>
    <!--TODO Better Categories-->
    <!--Category selection currently the same as for sources-->
    <h3>Categories:</h3>
    <div id="container_c">
        <input type="text" name="c_source" class="account">
    </div>
    <button type="button" class="plus_button" onclick="addSource('c')">+</button>
    <p id="error"></p>
    <button type="submit">Submit</button>
</form>

<!--Jenny's -->
<!--<section id = "application">
    <form action = "../home">
        <h3> Article Title </h3>
        <input type = "text" class = "editor_ap"/>
        <h3> Tags </h3>
        <input type = "text" class = "editor_ap" placeholder = "i.e. #america, #globalwarming"/>
        <h3> Summary of Issue </h3>
        <input type = "text" class = "editor_ap" placeholder = "Less than 300 words"/>
    </form>
</section>-->

<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>