<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MultiView - Landing </title>
    <link href="styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="banner">
    <div id="wrapper">
        <div id="container">
            <img class="banner_image" src="images/MultiView.png" alt="MultiView">
        </div>
    </div>
</div>

<header class = "centered_header">
    <h1>CREATE ACCOUNT</h1>
</header>

<section>
    <!--Note: Dummy form action -->
    <form action = "../home">
        <h3>Username</h3>
        <input type="text" placeholder="Enter username"/>
        <h3>Password</h3>
        <input type="text" placeholder="Enter password"/>
        <h3>Confirm Password</h3>
        <input type="text" placeholder="Re-enter password"/>
        <h3>Email</h3>
        <input type="text" placeholder="Enter your email address"/>
        <button type="submit" id="submit">Submit</button>
    </form>
</section>


</body>
</html>