<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MultiView - Landing </title>
    <link href="styles/style.css" type="text/css" rel="stylesheet">
    <link href="styles/pages.css" type="text/css" rel="stylesheet">
    <link href="styles/top.css" type = "text/css" rel="stylesheet">
</head>

<body>

<!--Site title-->
<div class="banner">
    <div id="wrapper">
        <div id="container">
            <img class="banner_image" src="images/MultiView.png" alt="MultiView">
        </div>
    </div>
</div>

<section id = "top_navigation">
    <nav>
        <ul>
            <li><a href = "../home">Home</a></li>
            <li> <a href = "../about"> About </a></li>
            <li><a href = "../contributions"> Contributions </a></li>
            <li><a href="../editors"> Editor Articles </a></li>
            <li><a href="../opportunities"> Opportunities </a></li>
            <li><a href = ""> Profile</a></li>
            <!--TODO: Login button-->
        </ul>
    </nav>
</section>

<header class = "centered_header">
    <h1>Create Account</h1>
</header>

<section>
    <!--Note: Dummy form action -->
    <form action = "../home">
        <h3>Username</h3>
        <input type="text" class="account" placeholder="Enter username"/>
        <h3>Password</h3>
        <input type="text" class="account" placeholder="Enter password"/>
        <h3>Confirm Password</h3>
        <input type="text" class="account" placeholder="Re-enter password"/>
        <h3>Email</h3>
        <input type="text" class="account" placeholder="Enter your email address"/>
        <button type="submit" id="submit">Submit</button>
    </form>
</section>


</body>
</html>