<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditorPage</title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<section id  = "banner">
    <!-- Aim: Button will dynamically change to say account or log in based on whether logged in -->
    <button id = "account"; onclick="location.href ='./login.html'"> Log in </button>
</section>


<!-- Will need to do this in EJS - to pass the ejs files - also include in app.js with render -->
<section id = "top_navigation">
    <nav>
        <ul>
            <li><a href = "./home">Home</a></li>
            <li><a href = "./contributions"> Contributions </a></li>
            <li><a href="./editors"> Editor Articles </a></li>
            <li><a href="./opportunities"> Opportunities </a></li>
            <li><a href = ""> Profile</a></li>
        </ul>
    </nav>
</section>

<header>
    <h1>Article Name</h1>
    <h2> Editor Name </h2> <button id = "follow_editor"; onclick = "change()"> Follow </button>
    <script>
        function change() // no ';' here
        {
            var elem = document.getElementById("follow_editor");
            if (elem.value=="Follow") elem.value = "Following";
            else elem.value = "Follow";
        }
    </script>
    <h3> Rating </h3> <!-- Possible JS to render stars -->
    <h3> Tags </h3>
</header>


<section id = "sidebar_page">
    <nav id = "search_options">
        <h4>Sort By:</h4>
        <ul>
            <li><a href="">Alphabetical</a></li>
            <li><a href="">Most recent</a></li>
            <li><a href="">Most popular</a></li>
        </ul>
    </nav>
</section>

<section id = "article_description">
    <p> Article content - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
</section>

<!-- This section will require js to dynamically load in the information -->
<section id = "article_repository">
    <table>
        <tr>
            <th> High Level </th>
            <th> Reports </th>
            <th> Opinions </th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li> <a href = "http://www.google.com", target="_blank"> Link 1 </a> </li>
                    <li> <a href = "http://www.google.com", target="_blank"> Link 2 </a> </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li> <a href = "http://www.google.com", target="_blank"> Link 3 </a></li>
                    <li> <a href = "http://www.google.com", target="_blank"> Link 4 </a></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li> <a href = "http://www.google.com", target="_blank"> Link 5 </a> </li>
                </ul>
            </td>
        </tr>

    </table>
</section>

<!-- Include ability to side scroll images of Opportunities -->
<section id = "related_opportunities">
    <h2> Related Opportunities </h2>
</section>


</body>
</html>