<!-- In progress - trying in html first -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= editor.name %> - Editors </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <h1><%= editor.name %></h1>
    <h2><%= editor.creator %> </h2>
</header>

<section id = "top_navigation">
    <nav>
        <ul>
            <li><a href = "../home">Home</a></li>
            <li> <a href = "../about"> About </a></li>
            <li><a href = "../contributions"> Contributions </a></li>
            <li><a href="../editors"> Editor Articles </a></li>
            <li><a href="../opportunities"> Opportunities </a></li>
            <li><a href = ""> Profile</a></li>
        </ul>
    </nav>
</section>

<!-- Advanced search options -->
<section id = "sidebar_page">
    <nav id = "search_options">
        <h4>Sort By:</h4>
        <ul>
            <li><a href="">Alphabetical</a></li>
            <li><a href="">Most recent</a></li>
            <li><a href="">Most popular</a></li>
        </ul>
    </nav>

</section>
</body>
</html>
