<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= editor.name %> - Editors </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <h1><%= editor.name %></h1>
    <h2><%= editor.creator %> </h2>
</header>

<!-- Advanced search options -->
<section id = "sidebar_page">
    <nav id = "search_options">
        <h4>Sort By:</h4>
        <ul>
            <li><a href="">Alphabetical</a></li>
            <li><a href="">Most recent</a></li>
            <li><a href="">Most popular</a></li>
        </ul>
    </nav>

</section>
</body>
</html>
