<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MultiView - Home </title>
    <link href="styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<!--Site title-->
<header>
    <h1>MultiView</h1>
</header>

<!--Nav bar-->
<!--TODO: Jenny? Login button? -->
<nav></nav>

<!--Search button-->
<section id = "search">
    <h2> Topic Search </h2>
    <div>
    <form action = "search_results.html" method = "get">
        <input type="text" placeholder="Enter an issue!" />
        <button type="submit">Hey</button>
    </form>
    </div>
</section>

<!--Issue suggestions-->
<section id = "suggested_issues">
    <article>
        <!--TODO: Refactor as EJS file, fetch most recent & popular issues from DB.-->
        <figure>
            <img src = "" alt = "Recent issue - issue name">
            <figcaption>Recent</figcaption>
        </figure>
    </article>
    <article>
        <figure>
            <a href="">
            <img src = "" alt= "Popular issue - issue name">
            </a>
            <figcaption>Popular</figcaption>
        </figure>
    </article>
</section>

</body>
</html>