<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Unexpected Vision - MultiView </title>
    <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>
<h2 id = "teamName"> UNEXPECTED VISION </h2>

<h3><em> PRESENTS </em></h3>

<h1 id = "appName">MultiView</h1>

<p><em>In the era of excess information, here's your entry point to the facts!</em></p>


// PATH needs to be sorted to have the form information be stored somewhere
<form action = "PATH" target = "_blank">
    <input type="text" placeholder="Enter Your Email" />
    <input type="submit" value="Notify Me" />
</form>

<br>
<p> Unexpected Vision - Frida, Angeline and Jenny </p>

</body>
</html>