<!-- Formally known as 'landing_page' - now the index -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> MultiView - Landing </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">

</head>

<body class="background" id="landing">


<div id="login">
    <a href="./login"><button type="button" class="button">Login</button></a>
</div>


<section id = "landing_graphic">
    <div id = "landing_triangle"><img src="./images/triangle.png" alt="triangle" style="width:500px"></div>
    <div class = "name"><h1>MultiView</h1><h2>Broaden your perspective</h2></div>

    <div>
        <a href="./home"><button type="button" class="button">Get Involved</button></a>
        <a href="./create-account"><button type="button" class="button">Create Account</button></a>
    </div>

</section>

<!-- Arrow to lead viewer down to the about -->
<a href="#about_box">
    <img id="anchor_arrow" src="../images/downwards-arrow-key.png">
</a>

<div id="about_box">
    <div>
        <h1>About</h1>
        <p>MultiView is a social platform for sharing knowledge, perspectives, and insight that seeks to address the
            question of 'how might we address global urgent challenges at the intersection of peace, prosperity and
            planet in radically new ways?'.</p>
    </div>
    <img src="https://images.unsplash.com/photo-1491314316372-b3ae7000c9ee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=
    baed6d9027238ef6dbbf221f97e5f7da&auto=format&fit=crop&w=1083&q=80">
</div>



<!--
<div class="about"><h1>About</h1></div>
<div class="about"><p>MultiView aims to...</p></div>
-->
&nbsp;
</body>
</html>