<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MultiView - Landing </title>
    <link href="styles/style.css" type="text/css" rel="stylesheet">
    <link href = "styles/top_navigation.css" type = "text/css" rel="stylesheet">
</head>

<body id="landing" background="./images/landing.jpg">
<section class="container centered_landing" >
    <img src="./images/triangle.png" alt="triangle" style="width:500px;">
    <div id="centered"><h1>MultiView</h1><h2>Broaden your perspective</h2>
    </div>

</section>

&nbsp;

<div>
    <a href="../create-account"><button type="button" class="button">Create Account</button></a>
    &emsp;
    <a href="../home"><button type="button" class="button">Get Involved</button></a>
</div>



</body>
</html>