<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MultiView - Landing </title>
    <link href="styles/style.css" type="text/css" rel="stylesheet">
    <link href="styles/pages.css" type="text/css" rel="stylesheet">
    <link href="styles/top.css" type = "text/css" rel="stylesheet">

</head>

<body class="background" id="landing">

<section class="container centered_landing" >
    <img src="./images/triangle.png" alt="triangle" style="width:500px">
    <div class = "centered"><h1>MultiView</h1><h2>Broaden your perspective</h2>
    </div>

</section>

&nbsp;

<div>
    <a href="./create_account.html"><button type="button" class="button">Create Account</button></a>
    <a href="./home"><button type="button" class="button">Get Involved</button></a>
</div>

<a href="./login.html"><button type="button" class="button" style="display: block; float: right; margin: 10px">Login</button></a>


</body>
</html>