<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MultiView - Landing </title>
    <link href="styles/style.css" type="text/css" rel="stylesheet">
    <link href = "styles/top_navigation.css" type = "text/css" rel="stylesheet">
</head>
<body>

<!--Site title-->
<section class="container centered_header" >
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Triangle_1.svg/2000px-Triangle_1.svg.png"
         alt="Triangle" style="width:500px;">
    <div class="centered"><h1>MultiView</h1><h2>Broaden your perspective</h2>
    </div>

</section>

&nbsp;

<div>
    <a href="../create-account"><button type="button" class="button">Create Account</button></a>
    &emsp;
    <a href="../home"><button type="button" class="button">Get Involved</button></a>
</div>



</body>
</html>