<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login </title>
    <link href="styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <h1>LOG IN</h1>
</header>

<section>
    <form>
        <h3>Username</h3>
        <input type="text" placeholder="Enter username"/>
        <h3>Password</h3>
        <input type="text" placeholder="Enter password"/>
    </form>
    <button type="submit" id="submit">Submit</button>
</section>


</body>
</html>