<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
</head>

<body>
<script src = "./javascript/log_in.js"></script>

<div class = "content"> <!-- Used to make footers sticky -->

<!--Site title-->
<% include ./partial/header.ejs%>
<% include ./partial/navbar.ejs%>

    <header class="centered_header">
        <h1>Login</h1>
    </header>


    <section>
        <!--Note: Dummy form action -->
        <form action = "../home">
            <input type="text" class="account" placeholder="Username"/>
            <input type="text" class="account" placeholder="Password"/>
        </form>
        <button type="submit" id="login_submit">Submit</button>

        <!--TODO: Redirect to Create Account button-->
        <a href = "../create-account"> <button type = "submit" id = "submit">Create Account</button></a>
    </section>
</div>

<footer>
    <% include ./partial/footer.ejs%>
</footer>


</body>
</html>