<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
    <script src = "./javascript/log_in.js"></script>
    <script src = "./javascript/formValidation.js"></script>
    <!-- Used to make Navigation Bar Sticky -->
    <script src = "./javascript/sticky_nav.js"></script>
</head>

<body>

<!--Site title-->
<% include ./partial/navbar.ejs%>

<div class = "content"> <!-- Used to make footers sticky -->

    <header class="centered_header">
        <h1>Login</h1>
    </header>


    <section>
        <form action = "../login" method ="post" onsubmit="return validateLogin()">
            <input type="text" class="account" name="username" placeholder="Username"/>
            <input type="password" class="account" name="password" placeholder="Password"/>
            <p id="error"></p> <!--Used for validation error messages -->
            <button type="submit" class="submit">Submit</button>
        </form>
    </section>
</div>

<footer>
    <% include ./partial/footer.ejs%>
</footer>


</body>
</html>