<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login </title>
    <link href="styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="banner">
    <div id="wrapper">
        <div id="container">
            <img class="banner_image" src="images/MultiView.png" alt="MultiView">
        </div>
    </div>
</div>

<header class="centered_header">
    <h1>LOG IN</h1>
</header>


<section>
    <!--Note: Dummy form action -->
    <form action = "../home">
        <input type="text" placeholder="Username"/>
        <input type="text" placeholder="Password"/>
    </form>
    <button type="submit" id="submit">Submit</button>
</section>


</body>
</html>