<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
    <script src = "./javascript/log_in.js"></script>
</head>

<body>


<div class = "content"> <!-- Used to make footers sticky -->

<!--Site title-->
<% include ./partial/header.ejs%>
<% include ./partial/navbar.ejs%>

    <header class="centered_header">
        <h1>Login</h1>
    </header>


    <section>
        <!--Note: Dummy form action -->
        <form action = "../login" method ="post"> <!--TODO: originally Home-->
            <input type="text" class="account" name="username" placeholder="Username"/>
            <input type="password" class="account" name="password" placeholder="Password"/>
            <input type="submit" id="login_submit" value="Submit">
        </form>
        <!--<a href = "../home"><button id="login_submit" onclick = "log_in()">Submit</button></a>-->
        <!--TODO: Redirect to Create Account button-->
        <a href = "../create-account"> <button type = "submit" id = "submit">Create Account</button></a>
    </section>
</div>

<footer>
    <% include ./partial/footer.ejs%>
</footer>


</body>
</html>