<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%=  %> - Opportunities </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>
</body>
</html>
