<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Opportunity Page Test</title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<header id = "event_header">
    <h1> Name of Event </h1>
    <img src = "" alt = "event banner">
</header>

<section id = "top_navigation">
    <nav>
        <ul>
            <li><a href = "../home">Home</a></li>
            <li> <a href = "../about"> About </a></li>
            <li><a href = "../contributions"> Contributions </a></li>
            <li><a href="../editors"> Editor Articles </a></li>
            <li><a href="../opportunities"> Opportunities </a></li>
            <li><a href = ""> Profile</a></li>
        </ul>
    </nav>
</section>

<section id = "event_information">
    <table>
        <tr>
            <th> Date </th>
            <th> Time </th>
            <th> Location </th>
            <th> Description </th>
            <th> Contact </th>
            <th> Attendees </th>
        </tr>
        <tr>
            <td> [date] </td>
            <td> [Time] </td>
            <td> [location] </td>
            <td> [Description]</td>
            <td> [Contact] </td>
            <td> [Attendees] </td>
        </tr>

    </table>
    <div id = "date_posted">
        <h3> Date Posted: ' '</h3>
    </div>


</section>


</body>
</html>