<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create an Event! </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
    <!-- Used to make Navigation Bar Sticky -->
    <script src = "./javascript/sticky_nav.js"></script>
</head>
<body>

<!--Site title-->
<% include ./partial/navbar.ejs%>

<p>Create a new opportunity.</p>
<!--TODO: Use post-->
<form action = "../new-opportunity/" method = "get">
    <input type="hidden" name="organiser" value = "orangecaramel">
    Opportunity Name:<input type="text" name="name">
    Description:<input type="text" name="description">
    Image URL:<input type="text" name="image">  <!--TODO: URL checks-->
    Date of the Event: <input type="text" name="date"> <!--TODO Note: JavaScript counts months from 0 to 11 (Jan = 0)-->
    Location: <input type="text" name="location">
    Link for further info: <input type="text" name="further_info"> <!--TODO: URL checks-->
    <button type="submit">Submit</button>
</form>

<!--TODO: Checks for proper form completion -->

</body>
</html>