<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Tester </title>
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
</head>

<body>

<% include ./partial/navbar.ejs%>

<div class = "content"> <!-- Used to make footers sticky -->

    <!--Site title--


    <div id = "clickMe"><button> clickable button</button></div>
    <button id = "profileBu" style = "display:none"> profile </button>
</div>


<footer>
    <% include ./partial/footer.ejs%>
</footer>

</body>
</html>

<script>
    function myFunction(){
    alert("clicked button");
    }


    document.getElementById("clickMe").onclick = function() {
        alert("button was indeed clicked");
        var button = document.getElementById("clickMe");
        if (button.style.display == "none") {
            button.style.display = "block";
            document.getElementById("profileBu").style.display = "none";
        } else {
            button.style.display = "none";
            document.getElementById("profileBu").style.display = "block";
        }
    }

</script>

