<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <!--%= user.username%--> - profile </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
</head>

<body>

<div class = "content"> <!-- Used to make footers sticky -->

<header>

</header>

    <<!--Site title-->
<% include ./partial/navbar.ejs%>
</div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>