<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= user.username%> - Profile </title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/specifics.css" type="text/css" rel="stylesheet">
    <link href="/styles/default.css" type = "text/css" rel="stylesheet">
</head>

<body>

<div class = "content"> <!-- Used to make footers sticky -->


    <!--Site title-->
<% include ./partial/navbar.ejs%>

    <header>

    </header>
    <p> this is the user profile </p>

</div>
<footer>
    <% include ./partial/footer.ejs%>
</footer>
</body>
</html>