<!-- &lt;!&ndash; reusable header for all the website specifics &ndash;&gt; -->

<div class = "banner banner_text">
    <div class = "logo">
        <img src="./images/thickSmallTriangle.png" alt="triangle" style="width:65px">
    </div>

    <div><h1 class = "white_text"> MultiView</h1></div>
</div>