<!-- reusable header for all the website pages -->

<div class="banner">
    <div id="wrapper">
        <div id="container">
            <img class="banner_image" src="images/MultiView.png" alt="MultiView">
        </div>
    </div>
</div>