<!-- reusable header for all the website specifics -->

<div class = "banner centered banner_text">
    <div class = "logo">
        <img src="./images/thickSmallTriangle.png" alt="triangle" style="width:120px">
    </div>

    <div class = "centred "><h1> MultiView</h1></div>
    <div class = "slogan"> Broaden Your Perspective </div>
</div>
