<!-- reusable header for all the website pages -->

<div class = "banner centered banner_text">
    <div class = "logo">
        <img src="./images/thickSmallTriangle.png" alt="triangle" style="width:500px">
    </div>

    <h1> MultiView</h1>
    <div class = "slogan"> Broaden Your Perspective </div>
</div>


<!--<div class="banner">
    <div id="wrapper">
        <div id="container">
            <img class="banner_image" src="images/landing.jpg" alt="MultiView">
        </div>
    </div>
</div> -->