<!-- navigation bar to be rendered for every page -->
<nav class = "topnav" id = "myNav">
    <p> <a href = "/"><img src = "../images/thickSmallTriangle.png"> MultiView </a></p>
    <ul>
        <li> <a href = "/home"> Home </a></li>
        <li> <a href = "../about"> About </a></li>
        <li> <a href = "../search?query="> Articles </a></li>
        <li> <a href = "../opportunities"> Opportunities </a></li>

        <!-- Displays when the user is logged in -->
        <% if(user) { %>
        <li> <a href = "../profile/<%=user.username%>"> <img src = "../images/man-user.png" class = "icon"> <span><%= user.username%> </span> </a></li> <!-- TODO: inline profile pic -->
        <li><a href = "#"><img src = "../images/thickSmallTriangle.png" style = "width:20px; transform:rotate(180deg); filter:brightness(0) invert(1)"> </a> <!-- Need to include # for the drop down -->
            <ul>
                <!-- if user is an editor than this renders -->
                <% if(user.is_editor) { %>
                    <li> <a href = "../create-article"> Create an Article </a></li>
                <!-- if user is not an editor this will render -->
                <% } else { %>
                    <li> <a href = "../editor-application"> Become an Editor </a></li>
                <%}%>
                <li> <a href = "../create-opportunity"> Create an Event </a></li>
                <li> <a href = "../logout"> Log Out </a></li>
            </ul>
        </li>
        <%} else { %>
            <!-- Displays when the user isn't logged in -->
            <li><a href = "../"><button type = "button" id="login_nav"> Login </button></a></li>
        <%}%>
    </ul>
</nav>
